@import "vars";
.header__container{
    background-color: #213b66;
    height: 60px;
    .navBar__show{
        max-width: $maxWidthSize;
        z-index: 50;
        .nav__section{
            justify-content: flex-end;
            background-color: #213b66;
        }
        .navbar-toggler-icon{
            background-image: url(../img/list.svg);
        }

    }
    
}
/* NOTA: BOOTSTRAP NO ME ESTA PERMITIENDO CAMBIAR LOS COLORES DE LAS LETRAS DENTRO DEL NAV SIN EL !IMPORTAT AL IGUAL QUE EL HOVER */
.nav-item{
    padding: 14px;        
    .nav-link{
        color: white !important;
        transition: background-color .5s !important;
        transition: border-bottom .5s !important;       
    }
    .active{
        color: rgb(203 67 67 / 90%) !important;
    }
    .nav-link:hover{
        background-color: rgb(227 218 218 / 20%);
        border-bottom: 1px solid #ffff;
    }
}

@media (min-width: $mediumScreenSize){
    .header__container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .navBar__show{
        padding: 12px;
    }
    .nav-item{
        padding: 0px;
    }
}
@media (min-width: $maxScreenSize){
    .header__container{
        padding-left: 50px;
        padding-right: 50px;
    }

}
